
body
{
    background-image: url('content/backgroundImage.png');
    background-repeat: no-repeat;
}

#pageHeader
{
    color: rgba(255,255,255,.9);
    font-size: 5em;
    padding-bottom: 0.3em;
    text-align: center;
}

.catHeading
{
    color: rgb(169, 223, 190);
    text-align:center;
}

.eduTitle
{
    color: rgb(235, 252, 243);
}

.contentBloc
{
    color: white;
}

#eduNav 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
  
.eduNavItem 
{
    display: inline-block;
}
  
.eduNavItem .eduNavLink 
{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 0.9em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.eduNavLink:hover
{
    color : #97d1c4;
}

#UWEnav 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
  
.UWEnavItem 
{
    display: inline-block;
}
  
.UWEnavItem .UWEnavLink 
{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 0.9em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.UWEnavLink:hover
{
    color : #97d1c4;
}

#aboutProgrammingList
{
    list-style: none;
}

/*The CSS for adding custom styles to the bootstrap navbar was taken from: https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c */
.navbar-custom {
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    font-size: 1.9em;
    color: rgb(255, 255, 255);
    padding-right: 0.6em;
    padding-left: 0.6em;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #97d1c4;
}